extends ../shared/template
block content
  section#about
    h2 About the Humans
    h3 Small batch Etsy mustache fanny pack.
    p Quinoa Blue Bottle retro banjo sartorial cardigan. Cosby sweater flannel 
    | semiotics irony pork belly, put a bird on it iPhone Portland shabby chic Echo 
    | Park. Typewriter scenester Schlitz, occupy locavore twee chillwave. Ugh XOXO 
    | Neutra salvia cred. Aesthetic wolf Tonx Echo Park art party semiotics beard 
    | fanny pack, photo booth asymmetrical biodiesel synth. Godard bicycle rights 
    | chillwave, iPhone McSweeney's sustainable church-key Truffaut butcher meh four 
    | loko Banksy Tonx Austin. Fap Helvetica 3 wolf moon aesthetic, XOXO Blue Bottle 
    | sriracha.

block scripts
