extends ../shared/template
block content
  section#faq
    h2 FAQs and Stuff
    h3 You're not cool enough to know about us.
    p Fingerstache keffiyeh DIY church-key paleo, plaid keytar. 
    | Austin lomo retro, PBR hashtag chillwave literally Brooklyn 
    | Schlitz selfies next level. Gluten-free salvia meh, Blue Bottle 
    | Schlitz artisan put a bird on it fixie banjo 3 wolf moon Tumblr. 
    | Art party Wes Anderson food truck, street art quinoa fixie drinking 
    | vinegar stumptown mlkshk mixtape Tumblr wolf Carles occupy bicycle 
    | rights. Kogi cliche squid biodiesel PBR Tonx. +1 twee Intelligentsia 
    | scenester gentrify Pinterest. Selfies yr Vice synth meggings bespoke.

block scripts
